<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/top.js}"></script>
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>ToDo</h1>
</div>
<div class="main-contents">
    <form th:object="${filterForm}">
        <div th:each="error : ${#fields.allErrors()}">
            <span class="error-message"  th:text="${error}"></span><br/>
        </div>
    </form>
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <span class="todayDate" th:text="'本日の日付 ： ' + ${#temporals.format(#temporals.createNow(), 'yyyy/MM/dd')}"></span>
    <br/><a th:href="@{/new}">
        <button class="new-button" type="button">新規タスク</button>
    </a>
    <div class="filter-erea">
        <form th:object="${filterForm}" th:action="@{/filter}" method="get">
            <label>期限</label>
            <input type="date" th:field="*{since}">
            <label>～</label>
            <input type="date" th:field="*{until}">
            <label>ステータス</label>
            <select class="status-dropdown" th:field="*{status}">
                <option value="">
                <option th:each="status : ${statusList}" th:value="${status}" th:text="${status.viewName}"></option>
            </select>
            <input class="content-box" th:field="*{content}"/>
            <input type="submit" value="絞り込み">
        </form>
    </div>
    <div class="task-row" th:each="task : ${tasks}">
        <div class="task-content">
            <div class="pre-like content" th:text="${task.content}"></div>
        </div>
        <div class="task-status">
            <form th:object="${task}" th:action="@{/updateStatus/{id}(id=${task.id})}" th:method="put">
                <input type="hidden" name="_method" value="put"/>
                <select class="status-dropdown" name="status">
                    <option th:each="status : ${statusList}" th:value="${status}" th:text="${status.viewName}"
                            th:selected="${task.status == status}"></option>
                </select>
                <input class="update-status-button" type="submit" value="変更">
            </form>
        </div>
        <div class="task-limit">
        <span class="limit"
              th:classappend="${task.limitDate.isAfter(#temporals.createNow())} ? 'limit-not-yet' : 'limit-arrived'"
              th:text="${#temporals.format(task.limitDate, 'yyyy/MM/dd')}"></span>
        </div>
        <div class="task-edit">
            <a th:href="@{/edit/{id}(id=${task.id})}">
                <input class="edit-button" type="button" value="編集">
            </a>
        </div>
        <div class="task-delete">
            <form th:action="@{/delete/{id}(id=${task.id})}" th:method="delete">
                <input class="delete-button" type="submit" value="削除">
            </form>
        </div>
    </div>
</div>
</body>
</html>
